
@media (max-width: 1503px) {
.nav-tabs.age_inner_tabs > li {
	width: auto;
}
.nav-tabs.age_inner_tabs {
	max-width: 328px;
}
.nav-tabs.age_inner_tabs.gender_width {
	max-width: 149px;
}
.nav-tabs.age_inner_tabs.Conditions_Chart {
	max-width: 217px;
}
}

@media (max-width: 1333px) {
.sidemenu_bg {
	width: 296px;
}
.side_logo_dv img {
	margin-top: 21px;
	width: 114px;
}
.metismenu > li {
	padding-left: 14px;
}
.metismenu > li > a {
	font-size: 13px;
	line-height: 59px;
}
.metismenu > li > ul.submenu li a {
	font-size: 13px;
	line-height: 59px;
}
.metismenu > li > a {
	display: block;
	font-size: 13px;
	line-height: 59px;
}
#wrapper {
	margin: 0 0 0 295px;
}
.nav.age_inner_tabs > li > a {
	padding: 10px 5px;
	font-size: 12px;
}
.toggle_btn {
	margin-left: 296px;
}
.nav.age_inner_tabs.gender_width > li > a {
	font-size: 12px;
	padding: 10px 18px;
}
}

@media (max-width: 1200px) {
.systmtest-main ul li {
	width: 33.33%;
	margin: 0;
	padding: 0 10px;
	float: left;
}
}

@media (max-width: 1024px) {
body.page-small .sidemenu_bg {
	margin-left: -297px;
}
body.page-small.show_sidebar .sidemenu_bg {
	margin-left: 0;
}
body.page-small.show_sidebar .toggle_btn {
	margin-left: 308px;
}
body.page-small .toggle_btn {
	margin-left: 15px;
}
body.page-small.sidemenu_bg #wrapper {
	margin-left: 181px;
}
body.page-small #wrapper {
	margin-left: 0px;
	;
}
body.page-small.show_sidebar .toggle_btn {
	margin-left: 296px;
}
.admin_heding_name {
	top: 139px;
	width: 156px;
}
body.page-small .toggle_btn {
	position: absolute;
	z-index: 1;
}
.doctor_solo_dv {
	margin-top: 71px;
}
.pre_listing li.three_lable label:first-of-type {
	width: 43%;
}
.pre_listing li.three_lable label {
	display: inline-block;
	margin-right: 2px;
	vertical-align: top;
	width: 26%;
}
.add_medilist li label.daily_bn {
	margin-bottom: 15px;
}
.pre_listing li button {
	width: 100%;
}
.admin_heding_name {
	display: none;
}
}

@media (max-width: 767px) {
.sidemenu_bg {
	position: absolute;
	min-height: 839px;
}
.copyright_dv p {
	font-size: 11px;
}
.copyright_dv {
	position: relative;
}
.doctor_contact_dv ul li label {
	width: 100% !important;
}
.doctor_contact_dv ul li label {
	margin-bottom: 17px;
}
.doctor_contact_dv ul li label:last-of-type {
	margin-bottom: 0;
}
.doctor_contact_dv ul li button {
	width: 100%;
	margin-bottom: 15px;
}
.admin_heding_name h3 {
	font-size: 17px;
}
.doctor_contact_dv {
	margin-top: 33px;
}
.pre_listing li.three_lable label:first-of-type {
	width: 100%;
}
.pre_listing li.three_lable label {
	width: 100%;
	margin-bottom: 13px;
}
.divided_row {
	margin-top: 45px;
}
.add_medilist li label:first-of-type {
	width: 100%;
}
.Prescribed_columnn {
	margin-top: 72px;
}
.admin_heding_name.write_heading {
	width: 206px;
}
select.form-control.error {
	background-position: 97% 16px;
}
.nav-tabs.age_inner_tabs.gender_width.Conditions_Chart {
	max-width: 219px;
}
.nav-tabs.age_inner_tabs.my_right_width {
	max-width: 264px;
}
.signup_list li.dvd_2, .signup_list li.dvd_3 {
	margin-bottom: 0;
}
.signup_list li.dvd_2 label {
	width: 100%;
	margin-bottom: 24px;
	margin-right: 0;
}
.signup_list li.dvd_3 label {
	width: 100%;
	margin-bottom: 24px;
	margin-right: 0;
}
.login_container {

}
.login_logo_dv {
	margin-bottom: 15px;
}
.bg_file_input {
	overflow: hidden;
}
.signup_list li.swithc {
	width: 100%;
}
li.next_btn_dvd_2 button {
	width: 46%;
}
.lstbnts li.next_btn_dvd_2 button.back {
	width: 100%;
	margin-bottom: 15px;
}
.lstbnts li.next_btn_dvd_2 button {
	width: 100%;
}
.modal-dialog.forget_model {
	margin: 10px;
	width: auto;
}
.dctr_hedig h3 {
	font-size: 14px;
}
.grid_boxes_row .caption h4 {
	font-size: 16px;
}
.forgetpassword_container.ap_coupan button {
	width: 49%;
}
.see_dctr_text_dv a {
	width: 100%;
	margin-top: 16px;
}
.systmtest-main ul li {
	width: 50%;
	margin: 0;
	padding: 0 10px;
	margin-bottom: 20px;
}
.medialrecord.pre_listing li .btn1 {
	width: 48%;
	margin: 0 1%;
	margin-bottom: 20px;
	float: left;
}
.metismenu > li > a .hd_arrow {
	display: block;
	margin-right: 12px;
	margin-top: 12px;
}
.sidemenu_bg {
	width: 242px;
}
body.page-small.show_sidebar .toggle_btn {
	margin-left: 246px;
}
.toggle_btn i {
	font-size: 15px;
}
.toggle_btn {
	height: 35px;
	line-height: 35px;
	width: 35px;
}

.doctor_contact_dv ul li label.switch_btn{ width:30% !important;
	
	}

}

@media (max-width:640px) {
.head_right_sec_dv ul li .dropdown-menu.notification-menu {
	left: -140px;
	width: 420px;
}
.head_right_sec_dv ul li .notification-menu .txtinfo li {
	padding: 7px 10px;
}
.head_right_sec_dv ul li .notification-menu .txtinfo li p, .head_right_sec_dv ul li .notification-menu .txtinfo span {
	font-size: 14px;
}
.medical-inquiryview ul li .desci.half {
	width: 100%;
}
.prescription-ll li.save_priscption button {
	width: 45%;
	margin: 0 1%;
}
.medialrecord.pre_listing li .btn1 {
	width: 98%;
	margin: 0 1%;
	margin-bottom: 20px;
	float: left;
}
.Prescribed_columnn {
	width: 100%;
	float: left;
	margin-top: 20px;
}
}

@media (max-width:502px) {
.toggle_btn {
	height: 35px;
	line-height: 35px;
	width: 35px;
	cursor: pointer;
}
.toggle_btn i {
	font-size: 15px;
}
.header_bg {
	min-height: 91px;
}
.admin_heding_name {
	top: 86px;
	width: 156px;
}
.head_right_sec_dv ul li {
	margin-right: 9px;
	padding-right: 16px;
	position: relative;
}
.head_right_sec_dv ul li a .badge {
	font-size: 7px;
	height: 21px;
	line-height: 14px;
	position: absolute;
	top: -11px;
	width: 21px;
}
.head_right_sec_dv ul li a i {
	font-size: 26px;
}
.avname_dv {
	display: none;
}
.head_right_sec_dv ul li.admin {
	margin-right: 0;
}
.avtar_box {
	height: 39px;
	line-height: 33px;
	margin-top: -6px;
	text-align: center;
	width: 39px;
}
.avtar_box img {
}
body.page-small .toggle_btn {
	position: absolute;
	z-index: 1;
}
.doctor_solo_dv .img_dv {
	float: none;
	margin: 0 auto;
	width: 130px;
}
.doctor_solo_dv .txt_Dv h1 {
	font-size: 19px;
}
.head_right_sec_dv ul li a i.caret_arrow {
	margin-right: 2px;
}
.systmtest-main ul li {
	width: 98%;
}
.medical span {
	width: 100%;
	float: left;
}
.prescription-ll li.save_priscption button {
	width: 98%;
	margin: 0 1%;
	margin-bottom: 20px;
}

.login_container { width:298px;}

.signup_container { width:298px;}
}

@media (min-width: 768px) {
#menu li {
	position: relative;
}
#menu > li ul {
	position: absolute;
	left: 100%;
	top: 0;
	min-width: 200px;
	display: none;
}
#menu li:hover > ul, #menu li:hover > ul.collapse {
	display: block !important;
	height: auto !important;
	z-index: 1000;
	background: #c6d2d8;
	visibility: visible;
}
}

@media (max-width:500px) {
.head_right_sec_dv ul li .dropdown-menu.notification-menu {
	left: -140px;
	width: 300px;
}
.head_right_sec_dv ul li .notification-menu::before {
	right: 146px;
}
}
