a:focus, a:active, button, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
 outline: none !important;
}
a:focus {
	outline: none;
	outline-offset: -2px;
}
a:hover, a:focus {
	text-decoration: none;
}
body {
	/*font-family: 'montserratregular', sans-serif;*/

	font-family: 'Montserrat', sans-serif;
}
button:hover, a:hover {
	opacity: 0.9;
}
@font-face {
	font-family: 'montserratlight';
	src: url('../fonts/montserrat-light-webfont.eot');
	src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat-light-webfont.woff') format('woff'), url('../fonts/montserrat-light-webfont.ttf') format('truetype'), url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'montserratregular';
	src: url('../fonts/montserrat-regular-webfont.eot');
	src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat-regular-webfont.woff') format('woff'), url('../fonts/montserrat-regular-webfont.ttf') format('truetype'), url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'montserratultra_light';
	src: url('../fonts/montserrat-ultralight-webfont.eot');
	src: url('../fonts/montserrat-ultralight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-ultralight-webfont.woff2') format('woff2'), url('../fonts/montserrat-ultralight-webfont.woff') format('woff'), url('../fonts/montserrat-ultralight-webfont.ttf') format('truetype'), url('../fonts/montserrat-ultralight-webfont.svg#montserratultra_light') format('svg');
	font-weight: normal;
	font-style: normal;
}
h1, h2, h3 {
	color: #4b77be;
	font-weight: 700;
}
a:hover {
	text-decoration: none;
}
.img_responsive_max {
	max-width: 100%;
}
.img_responsive_100 {
	width: 100%;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.cls {
	clear: both;
}
/*header css*/


.header_bg {
	background: #ebeff2;
	min-height: 134px;
}
.header_admin_dv {
}
.toggle_btn {
	background: #fff;
	border: 1px solid #cdd1d3;
	float: left;
	height: 54px;
	line-height: 58px;
	text-align: center;
	width: 60px;
	margin-top: 25px;
}
.toggle_btn {
	margin-left: 308px;
	transition: all ease 0.5s;
	cursor: pointer;
}
body.hide_sidebar .toggle_btn {
	margin-left: 15px;
}
body.hide_sidebar .sidemenu_bg {
	margin-left: -297px;
}
.toggle_btn i {
	color: #000000;
	font-size: 24px;
}
.head_right_sec_dv {
	float: right;
	margin-top: 38px;
}
.head_right_sec_dv ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.head_right_sec_dv ul li {
	border-right: 1px solid #ccc;
	float: left;
	margin-right: 22px;
	padding-right: 16px;
	position: relative;
}
.head_right_sec_dv ul li a {
	color: #081d24;
}
.head_right_sec_dv ul li a i {
	font-size: 37px;
}
.head_right_sec_dv ul li a .badge {
	background: #4b77be none repeat scroll 0 0;
	border-radius: 50%;
	font-size: 10px;
	height: 24px;
	line-height: 15px;
	position: absolute;
	top: -11px;
	width: 24px;
}
.avtar_box {
	background: #fff;
	border-radius: 50%;
	display: inline-block;
	height: 62px;
	line-height: 58px;
	text-align: center;
	width: 62px;
	margin-top: -9px;
}
.avname_dv {
	float: left;
	width: 115px;
}
span.admin_name {
	color: #4b77be;
	display: inline-block;
	margin-left: 16px;
}
.head_right_sec_dv ul li.admin {
	border-right: 0;
}
.avtar_sub_menu {
}
.avtar_sub_menu li {
	width: 100%;
	padding: 10px;
}
.admin_heding_name {
	position: absolute;
	width: 223px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 33px;
	z-index: 1;
}
.admin_heding_name h3 {
	color: #4b77be;
	font-size: 23px;
	font-weight: 700;
}
/*===========================sidemenu style======================*/

.sidemenu_bg {
	transition: all ease 0.5s;
}
.sidemenu_bg {
	background: #dde7ec;
	width: 296px;
	position: fixed;
	height: 100%;
	top: 0;
	z-index: 3;
}
.side_logo_dv {
	text-align: center;
	border-bottom: 2px solid #c6d2d8;
	padding-bottom: 30px;
	margin-top: 35px;
}
.side_menu_holder {
}
.metismenu {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
.metismenu >li {
	padding-left: 42px;
	border-left: 4px solid #a8bbc5
}
.metismenu >li:hover {
	background: #c6d2d8;
	border-left: 4px solid #d2304b;
}
.metismenu >li.active {
	background: #c6d2d8;
	border-left: 4px solid #d2304b;
}
.metismenu >li >a {
	color: #081d24;
	font-size: 16px;
	line-height: 70px;
	display: block;
}
.metismenu >li > a i {
	font-size: 24px;
	padding-right: 16px;
}
.metismenu > li.doctr > a i {
	vertical-align: middle;
}
.metismenu >li > ul.submenu {
	list-style: none;
}
.metismenu >li > ul.submenu li {
}
.metismenu >li > ul.submenu li a {
	line-height: 70px;
	color: #081d24;
	font-size: 16px;
}
.metismenu >li > ul.submenu li a i {
	margin-right: 15px;
}
/*======================map style=======================*/


#wrapper {
	background: #fff;
	margin: 0 0 0 295px;
	min-height: 100%;
	padding: 0;
	position: relative;
	transition: all 0.4s ease 0s;
}
body.hide_sidebar #wrapper {
	margin-left: 0;
}
.content {
	min-width: 320px;
	padding: 0px 40px 40px;
}
.gender_tab {
}
.conditionla_heading {
}
.conditionla_heading h1 {
	font-size: 20px;
	font-wight: 600px;
}
.medical_dondition_column {
	text-align: center;
	border-right: 1px solid #d9d9d9;
}
.nav-tabs.gender_nav {
	text-align: center;
	border-bottom: 0;
}
.nav-tabs.gender_nav > li {
	float: none;
	display: inline-block;
}
.nav-tabs.gender_nav > li.active > a, .nav-tabs.gender_nav > li.active > a:hover, .nav-tabs.gender_nav > li.active > a:focus {
	border: 0;
	color: #d2304b;
}
.nav-tabs.gender_nav > li > a {
	color: #7f7f7f;
	border: 0;
}
.nav-tabs.gender_nav > li {
	margin-bottom: 0;
}
.nav-tabs > li > a:hover {
	background: transparent;
	border: 0;
}
.agegorup_inner_tab {
	margin: 11px auto 0;
	max-width: 548px;
}
.nav-tabs.age_inner_tabs {
	background: #fff;
	border: 2px solid #4b77be;
}
.nav-tabs.age_inner_tabs > li.active > a, .nav-tabs.age_inner_tabs > li.active > a:hover, .nav-tabs.age_inner_tabs > li.active > a:focus {
	border: 0;
	color: #fff;
	background: #4b77be;
	border-radius: 0;
}
.nav-tabs.age_inner_tabs > li > a {
	color: #7f7f7f;
	border: 0;
}
.nav-tabs.age_inner_tabs > li {
	margin-bottom: 0;
	width: 136px;
}
.Prescribed_columnn {
}
.prescribe_holder {
	max-width: 414px;
	margin: 0 auto;
}
.prescribe_heading {
}
.medical_condition_row {
	margin-top: 30px;
}
.prescribe_heading h1 {
	color: #4b77be;
	font-size: 20px;
	margin-top: 0;
	float: left;
}
.prescribe_heading ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}
.prescribe_heading ul li {
}
.prescribe_heading ul li a {
	color: #7f7f7f;
}
.prescribe_heading ul li a.active {
	color: #d2324c;
}
.prescribe_listing_db {
	clear: both;
	padding-top: 25px;
}
.prescribe_listing_db ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.prescribe_listing_db ul li {
	background: #ebeff2;
	margin-bottom: 22px;
	line-height: 50px;
	padding-left: 25px;
	float: left;
	word-wrap: break-word;
	width: 100%;
}
.prescribe_listing_db ul li:hover {
	background: #dde6ec;
}
.prescribe_listing_db ul li a {
	color: #7f7f7f;
	font-size: 14px;
}
.prescribe_listing_db ul li.active a {
	color: #d2324c;
}
.map_panel_image {
	margin-top: 25px;
}
.nav-tabs.age_inner_tabs {
	margin: 0 auto;
	max-width: 561px;
}
.nav-tabs.age_inner_tabs.gender_width {
	max-width: 276px;
}
.nav-tabs > li > a {
	margin-right: 0;
}
/*my profile page css*/

.video_cal_btn {
	background: #4b77be;
	max-width: 215px;
	margin: 0 auto;
	margin-top: 30px;
}
.video_cal_btn a {
	color: #ffffff;
	font-size: 16px;
	display: block;
	padding: 15px;
}
.video_cal_btn a i {
	margin-right: 15px;
}
span.online {
	background: hsl(113, 63%, 68%) none repeat scroll 0 0;
	border-radius: 50%;
	bottom: -6px;
	display: block;
	height: 13px;
	position: absolute;
	right: 11px;
	width: 13px;
}
i.caret_arrow {
}
.head_right_sec_dv ul li a i.caret_arrow {
	font-size: 22px;
	margin-right: 19px;
	vertical-align: bottom;
}
.docter_profile_matter_holder {
}
.doctor_solo_dv {
}
.doctor_solo_dv .img_dv {
	width: 130px;
	float: left;
}
.doctor_solo_dv .txt_Dv {
	float: left;
	margin-left: 29px;
}
.doctor_solo_dv .txt_Dv h1 {
	color: #4b77be;
	text-transform: uppercase;
	font-size: 24px;
}
.doctor_solo_dv .txt_Dv h2 {
	color: #081d24;
	text-transform: uppercase;
	font-size: 22px;
	margin-top: 0;
}
.doctor_solo_dv .txt_Dv h4 {
	color: #7f7f7f;
	text-transform: uppercase;
	font-size: 18px;
}
.doctor_solo_dv .txt_Dv h1 i {
	color: #d2304b;
	font-size: 18px;
}
.profile_boxes_row {
	clear: both;
	margin-top: 34px;
}
.profile_box_column {
	margin-bottom: 20px;
}
.profile_box_dv {
	border: 1px solid #dddddd;
	padding: 18px;
}
.profile_box_dv .heading_row {
	position: relative;
}
.edit_btns_Dv {
	position: absolute;
}
.profile_box_dv .heading_row h3 {
	color: #d2304b;
	font-size: 18px;
	margin-top: 0;
	font-weight: normal;
	float: left;
}
.incresing_row {
	margin-bottom: 33px;
	clear: both;
}
.incresing_row h1 {
	background: #dde7ec;
	color: #081d24;
	font-size: 24px;
	padding-left: 10px;
	display: inline;
	padding-right: 10px;
}
.incresing_row h4 {
	color: #7f7f7f;
	font-size: 18px;
}
.incresing_row p {
	color: #7f7f7f;
}
.edit_btns_Dv {
	position: absolute;
	right: 0;
}
.edit_btns_Dv a {
	color: #d2304b;
}
.edit_btns_Dv a.mt_plus {
	color: #5982c3;
	margin-left: 10px;
}
.edit_btns_Dv a.mt_plus i {
	font-size: 15px;
}
.copyright_dv {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 182px;
	left: 0;
	right: 0;
	margin: auto; display:none;
}
.copyright_dv p {
}
/*doctor option contact detail*/
.form-control {
	border-radius: 0 !important;
	border: 2px solid #7f7f7f !important;
	height: 46px;
}
.metismenu > li > ul.submenu li a.contact_ic i {
	font-size: 25px;
	vertical-align: middle;
}
#menu li:hover > ul, #menu li:hover > ul.collapse, #menu li > ul.collapse {
	padding-left: 15px;
}
.doctor_contact_dv {
	max-width: 454px;
	margin: 0 auto;
}
.doctor_contact_dv h1 {
	text-align: center;
	font-size: 24px;
}
.doctor_contact_dv ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 45px;
}
.doctor_contact_dv ul li {
	margin-bottom: 18px;
}
.doctor_contact_dv ul li input[type="text"] {
	border: 2px solid #7f7f7f;
	height: 46px;
}
.doctor_contact_dv ul li label {
	display: inline-block;
	width: 30%;
	margin-right: 17px;
	vertical-align: top;
}
.doctor_contact_dv ul li label:last-of-type {
	margin-right: 0;
}
.doctor_contact_dv ul li select {
	border: 2px solid #7f7f7f;
	height: 46px;
	background: url(../images/select_ic.png) no-repeat 94% 16px;
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
}
select.form-control {
	border: 2px solid #7f7f7f;
	height: 46px;
	background: url(../images/select_ic.png) no-repeat 94% 16px;
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
}
select.form-control.error {
	border-color: #d2304b !important;
	color: #d2304b;
	background: url(../images/select_ic_error.png) no-repeat 94% 16px;
}
.doctor_contact_dv ul li.four_column label:first-of-type {
	display: inline-block;
	width: 60%;
	margin-right: 17px;
	vertical-align: top;
}
.doctor_contact_dv ul li.four_column label:last-of-type {
	width: 35%;
}
.doctor_contact_dv ul li button {
	width: 48%;
	background: #081d24;
	border: 0;
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
	line-height: 50px;
	margin-right: 13px;
}
.doctor_contact_dv ul li button.pink {
	background: #d2304b;
}
.doctor_contact_dv ul li button.pink {
	margin-right: 0;
}
/*================================================================================*/
.admin_heding_name.write_heading {
	width: 288px;
	text-transform: uppercase;
}
.divided_row {
}
.new_preciption_column {
	border-right: 1px solid #d9d9d9;
}
.new_prescipton_dv {
	max-width: 558px;
	margin: 0 auto;
}
.pre_listing {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 21px;
}
.pre_listing li {
	margin-bottom: 20px;
}
.pre_listing li.three_lable label {
	display: inline-block;
	width: 20%;
	margin-right: 18px;
	vertical-align: top;
}
.pre_listing li.three_lable label:first-of-type {
	width: 50%;
}
.pre_listing li.three_lable label:last-of-type {
	margin-right: 0;
}
.pre_listing li button {
	width: 215px;
	margin: 0 auto;
	line-height: 50px;
	color: #ffffff;
	font-size: 16px;
	border: 0;
	display: block;
}
.pre_listing li button.blue {
	background: #4b77be;
}
.addmedi_dv {
}
.add_medilist {
	list-style: none;
	margin: 0;
	padding: 0;
}
.pre_listing select.form-control.full_select {
	background-position: 97% 16px;
}
.add_medilist li {
	margin-bottom: 12px;
}
.add_medilist li input[type="text"] {
	background: #ebeff2;
	height: 46px;
	border: 0;
	width: 100%;
}
.add_medilist li label {
	position: relative;
	display: inline-block;
	margin-right: 14px;
}
.add_medilist li label a i.cross_red {
	color: #d2304b;
	position: absolute;
	right: 16px;
	top: 15px;
}
.add_medilist li label:first-of-type {
	width: 49%;
}
.add_medilist li label:last-of-type {
	margin-right: 0;
}
.add_medilist li label.daily_bn {
	border: 2px solid #d2304b;
	color: #d2304b;
	width: 20%;
	line-height: 42px;
	margin: 0 auto;
	text-align: center;
	margin-right: 19px;
}
.add_medilist li label.time_btn {
	border: 2px solid #4b77be;
	width: 20%;
	line-height: 42px;
	margin: 0 auto;
	text-align: center;
	color: #4b77be;
}
li.save_priscption button {
	border: 0 none;
	color: hsl(0, 0%, 100%);
	display: block;
	font-size: 16px;
	line-height: 50px;
	margin: 0 auto;
	width: 215px;
}
li.save_priscption button.pink {
	background: #d2304b;
}
/*============================================*/
.nav-tabs.age_inner_tabs > li > a {
	text-align: center;
}
.summery_column {
	border-right: 1px solid #d9d9d9;
}
.conditionla_heading.summry_heaing {
	text-align: center;
}
.nav.gender_height > li > a {
	padding: 6px 15px;
}
.videochat_summry_dv {
	margin-top: 15px;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
	background: #ebeff2;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 15px;
}
/*================Login page css 22_12============================*/

.login_logo_dv {
	float: left;
	margin-top: 18px;
}
.login_wrapper {
	margin-top: 71px; max-width:1170px; margin:0 auto;
}
.login_container {
	margin: 0 auto; max-width:454px; overflow:hidden;
}
.login_high_width{    overflow: hidden;
    width:1362px;}


.login_heading {
	text-align: center;
}
.login_heading h1 {
	font-size: 30px;
}
.login_bg {
	background: #f5f5f5;
	min-height: 468px;
	width: 100%;
	margin-top: 25px;
}
.login_form_container {
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 46px;
	padding-left: 15px;
	padding-right: 15px; overflow:hidden;
}
.login_form_container h3 {
	color: #081d24;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
}
.login_form_container ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 41px;
}
.login_form_container ul li {
	position: relative;
	margin-bottom: 17px;
}
.login_form_container ul li i {
	font-size: 26px;
	position: absolute;
	right: 11px;
	top: 10px;
	z-index: 1;
}
.login_form_container ul li i.succ {
	color: #00c152;
}
.login_form_container ul li i.erre {
	color: #d2304b;
}
.login_form_container ul li button {
	background: #d2304b;
	border: 0 none;
	color: #fff;
	display: block;
	font-size: 16px;
	line-height: 50px;
	margin: 0 auto;
	width: 213px;
	margin-bottom: 26px;
}
.forget_pwd {
	border-bottom: 1px solid hsl(0, 0%, 80%);
	margin-top: 16px;
	padding-bottom: 17px;
	text-align: center;
}
.forget_pwd a {
	font-size: 16px;
	color: #4b77be;
	text-align: center;
}
.login_form_container ul li.have_account {
	text-align: center;
}
.login_form_container ul li.have_account a {
	color: #d2304b;
}
.nav.Conditions_Chart > li > a {
	color: #4b77be;
}
.videochat_summry_dv {
	padding-top: 45px;
}
.videochat_summry_dv table tr td {
	padding: 15px 15px;
}
.videochat_summry_dv table tr.total td {
	padding: 25px;
}
.videochat_summry_dv table tr.total {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.videochat_summry_dv table tr.total td {
	color: #081d24;
	font-size: 24px;
}
.videochat_summry_dv table tr.total td span {
	color: #d2324c;
}
.videochat_summry_dv a.relese {
	background: #4b77be;
	display: block;
	width: 217px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	line-height: 54px;
	font-size: 16px;
}
.myacc_right_column {
}
.nav-tabs.age_inner_tabs.my_right_width {
	max-width: 412px;
}
.vidwo_list_clear {
	clear: both;
}
.videochat_dv {
}
.az_listing {
	width: 181px !important;
	margin: 0 auto !important;
	float: none !important;
}
.az_listing li {
	background: none !important;
}
/* signup  pages style*/

.signin_text_right {
	float: right;
	margin-top: 45px;
}
.signin_text_right a {
	color: #4b77be;
	font-size: 18px;
}
.step_bg_dv {
	max-width: 293px;
	margin: 0 auto;
	background: #081d24;
	height: 3px;
	width: 100%;
	position: relative;
	margin-top: 45px;
}
.step_bg_dv span {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #0d2128;
	display: inline-block;
	background: #fff;
	position: absolute;
	left: 0;
	top: -16px;
	font-size: 18px;
	color: #081d24;
}
.step_bg_dv span.active {
	background: #4b77be;
	border: 2px solid #4b77be;
	color: #fff;
}
.step_bg_dv span.step2 {
	left: 130px;
}
.step_bg_dv span.step3 {
	left: auto;
	right: 0;
}
.signup_container {
width: 454px; float:left;   -webkit-transition: all 0.5s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.5s ease-in;

}
.signup_list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 36px;
}
.signup_list li {
	margin-bottom: 24px;
}
.signup_list li label {
	font-weight: normal;
	vertical-align: top;
}
.signup_list li.dvd_2 label {
	width: 47.8%;
	display: inline-block;
	margin-right: 16px;
}
.signup_list li.dvd_2 label:last-of-type {
	margin-right: 0;
}
.signup_list li.radio_dv span {
	display: inline-block;
	margin-right: 27px;
}
.signup_list li.radio_dv span:las-of-type {
margin-right:0;
}
.radiobtn_holder {
	width: 295px;
	margin: 0 auto;
}
.signup_list li.dvd_3 label {
	width: 30%;
	display: inline-block;
	margin-right: 16px;
}
.signup_list li.dvd_3 label:last-of-type {
	margin-right: 0;
}
li.next_btn button {
	border: 0 none;
	color: hsl(0, 0%, 100%);
	display: block;
	font-size: 16px;
	line-height: 50px;
	margin: 0 auto;
	width: 215px;
	background: #d2304b
}
li.next_btn button i {
	padding-left: 15px;
	font-size: 21px;
}
/*signup step 2*/
.signup_list li.swithc {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 24px;
}
.signup_list li.swithc:after {
	display: table;
	content: "";
	clear: both;
}
.signup_list li.swithc span.right { float:right;

}
.signup_list .bootstrap-switch {
	border-radius: 50px;
	border: 1px solid #000;
}
.signup_list .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .signup_list .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
	border-radius: 50px;
	background: #87d37c;
}
.signup_list .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .signup_list .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
	border-radius: 50px;
}
.fileSelectButton {
	float: right;
}
.bg_file_input {
	background: #ebebeb;
	height: 50px;
	width: 100%;
}
.bg_file_input label {
	font-weight: normal;
	cursor: pointer;
}
.bg_file_input span.txt {
	padding-left: 15px;
	font-weight: normal;
	line-height: 50px;
}
li.next_btn_dvd_2 button {
	border: 0 none;
	color: hsl(0, 0%, 100%);
	display: inline-block;
	font-size: 16px;
	line-height: 50px;
	width: 48%;
	background: #d2304b
}
li.next_btn_dvd_2 button.back {
	background: #081d24;
	margin-right: 14px;
}
li.clander_list {
}
li.clander_list .glyphicon-calendar {
	color: #d2304b;
}
li.addmemeber button {
	border: 0 none;
	color: hsl(0, 0%, 100%);
	display: block;
	font-size: 16px;
	line-height: 50px;
	margin: 0 auto;
	width: 215px;
	background: #4b77be
}
.adding_members_dv {
}
.adding_member_heading {
}
.adding_member_heading h3 {
	border-bottom: 1px solid #cccccc;
	text-align: center;
	padding-bottom: 15px;
}
ul.adding_list {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.adding_list li {
	background: #ebebeb;
	padding: 15px 15px;
	color: #7f7f7f;
	text-align: left;
	margin-bottom: 10px;
}
ul.adding_list li i {
	float: right;
}
ul.adding_list li a {
	color: #d2304b;
}
.lstbnts {
	list-style: none;
	margin: 0;
	padding: 0;
}
/*================================forget password container=============================*/


.forgetpassword_container {
	max-width: 466px;
	margin: 0 auto;
}
.forgetpassword_container h1 {
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	margin-bottom: 21px;
}
p.note {
	color: #081d24;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	text-align: center;
	margin-bottom: 24px;
}
.forgetpassword_container button {
	background: #d2304b;
	border: 0 none;
	color: #fff;
	display: block;
	font-size: 16px;
	line-height: 50px;
	margin: 0 auto 26px;
	width: 100%;
	margin-top: 20px;
}
.return_login {
	text-align: center;
}
.return_login a {
	color: #d2304b;
}
.close_pop i {
	color: #000000;
}
.close.close_pop {
	margin-top: -19px;
	font-size: 49px;
}
.modal-dialog.forget_model {
	margin: 138px auto;
}
/*====================after login page css==========================================*/
.shedule_an_apportment_continer {
}
.grid_boxes_row {
}
.grid_boxes_row .thumbnail {
	position: relative;
	overflow: hidden;
	padding: 0;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	margin-bottom: 0;
}
.grid_boxes_row .thumbnail img {
	transition: all ease 0.5s;
}
.grid_boxes_row .thumbnail:hover img {
	transform: scale(1.02, 1.02)
}
.grid_boxes_row .caption {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(210, 48, 75, 0.8);
	width: 100%;
	height: 100%;
	padding: 2%;
	display: none;
	text-align: center;
	color: #fff !important;
	z-index: 2;
}
.grid_boxes_row .caption h4 {
	color: #ffffff;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 21%;
}
.grid_boxes_row.row {
	margin-left: 0;
	margin-right: 0;
}
.grid_boxes_row .col-sm-6 {
	padding-left: 0px;
	padding-right: 0px;
}
.content.after_login_dv {
	padding: 0;
}
.dctr_hedig {
	bottom: 22px;
	position: absolute;
	right: 0;
	transition: all ease 0.5s;
}
.dctr_hedig h3 {
	background: rgba(0 , 0, 0, 0.5);
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	padding: 22px 30px;
	text-transform: uppercase;
}
.text_upper {
	text-transform: uppercase;
}
.admin_heding_name.after_log {
	width: 380px;
}
/*=======================se a doctore pge =====================*/
.see_doctor_container {
	margin: 0 auto;
	max-width: 620px;
	margin-top: 78px;
}
.see_dctr_text_dv {
	text-align: center;
}
.see_dctr_text_dv h1 {
	color: #081d24;
	font-size: 30px;
}
.see_dctr_text_dv h3 {
	color: #081d24;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 16px;
}
.see_dctr_text_dv h4 {
	color: #081d24;
	font-size: 20px;
	font-weight: bold;
}
.see_dctr_text_dv a {
	background: hsl(350, 64%, 51%) none repeat scroll 0 0;
	border: 0 none;
	color: hsl(0, 0%, 100%);
	display: block;
	font-size: 16px;
	line-height: 50px;
	margin: 0 auto;
	width: 215px;
	margin-top: 30px;
}
.forgetpassword_container.ap_coupan button {
	width: 49.5%;
	display: inline-block;
}
.forgetpassword_container.ap_coupan button.cancel {
	background: #081d24;
}
.aaplycoupan_row {
}
.see_dctr_text_dv .aaplycoupan_row a {
	display: inline-block;
}
.see_dctr_text_dv .aaplycoupan_row a.apply_btn {
	background: #4b77be;
	margin-right: 15px;
}
/*patient detail page*/

.patient_detail_container {
	max-width: 621px;
	margin: 0 auto;
	margin-top: 83px;
}
.patient_detail_container p.note {
	text-align: center;
	font-size: 18px;
}
.patient_inner_contianer {
	max-width: 396px;
	margin: 0 auto;
	text-align: center;
}
.patient_inner_contianer h3 {
	color: #081d24;
	font-size: 24px;
}
.grey_list_container {
	margin-top: 51px;
}
.grey_list_container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.grey_list_container ul li {
	background: #ebebeb;
	text-align: center;
	padding: 15px 20px;
	font-size: 18px;
	margin-bottom: 35px;
}
.grey_list_container ul li i {
	color: #4b77be;
	margin-right: 15px;
}
.admin_heding_name.see_dctr {
	text-transform: uppercase;
	width: 384px;
}
.patient_step_btns_row {
}
.patient_step_btns_row a {
	text-align: center;
}
.patient_step_btns_row a.left {
	background: #081d24;
	width: 130px;
	color: #ffffff;
	font-size: 16px;
	padding: 15px;
	float: left;
}
.patient_step_btns_row a.right {
	background: #d2304b;
	width: 130px;
	color: #ffffff;
	font-size: 16px;
	padding: 15px;
	float: right;
}
.child_explore_dv {
	border-top: 1px solid #cccccc;
	margin-top: 10px;
}
.child_explore_dv select {
	margin-top: 15px;
}
.addc_btn {
	color: #4b77be;
	margin-top: 15px;
	display: block;
}
.content.step_apge {
	padding: 0;
}
.metismenu > li > a .hd_arrow {
	display: none;
}
.admin_tittle_name {
	clear: both;
	text-align: left;
	margin-bottom: 25px;
}
.admin_tittle_name h3 {
	color: hsl(217, 47%, 52%);
	font-size: 27px;
	font-weight: 700;
	text-transform: uppercase;
}
.admin_tittle_name.after_log {
	padding-left: 25px;
}
.videochat_summry_dv .table > thead > tr > th, .videochat_summry_dv .table > tbody > tr > th, .videochat_summry_dv .table > tfoot > tr > th, .videochat_summry_dv .table > thead > tr > td, .table > tbody > tr > td, .videochat_summry_dv .table > tfoot > tr > td {
	border-top: 0;
}






.disable_step { margin-left:-480px;}


.login_container_ecorrect {
    margin: 0 auto;
    max-width: 620px;
}

.login_form_container.login_form_container_ecorrect {
    margin: 0 auto;
    max-width: 448px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 46px; float:none;
}




.doctor_contact_dv li.dvd_2 label {
    display: inline-block;
    margin-right: 16px;
    width: 47.8%;
}

.paper-toggle{ float:left;

}

.paper-toggle input:empty
{
	margin-left: -999px;
}

.paper-toggle input:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	width: 150px;
	cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.paper-toggle input:empty ~ label:before,
.paper-toggle input:empty ~ label:after
{
  position: absolute;
	display: block;
  content: ' ';
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.paper-toggle input:empty ~ label:before
{
    top: 6px;
    left: 115px;
    width: 32px;
    height: 12px;
    background-color: #d0d0d0; border-radius:6px;
}

input.switch:empty ~ label:after
{
    top: 0px;
    left: 100px;
    width: 1.4em;
    height: 8px;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #efefef;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: solid 2px;
    border-color: #5a5a5a;
}

.paper-toggle input:checked ~ label:before
{
	background-color: #0f9d58;
}

.paper-toggle input:checked ~ label:after
{
	left: 140px;
  background-color: #0f9d58;
  border-color: #0f9d58;
}


.doctor_contact_dv ul li label.switch_btn{ float:left; font-weight:normal; }


  #map {
        width:100%;
        height: 400px;
      }


/*8-2-16*/
.error{
border-color:red !important;
}
.signup_container label.error{
  display: none !important;
}
.pre_listing label.error{
  display: none !important;
}
/*8-2-16*/
.alert.alert-error > ul {
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 0 5px;
}
.alert.alert-error li{ margin: 0; }
.myBtn{
  margin-top: 10px;
  width: 100% !important;
}
.conditionla_heading h1{
  margin-top: 0px !important;
}
label.tagLebel{
  background: #ebeff2 none repeat scroll 0 0;
  border: 0 none;
  height: 46px;
  line-height: 45px;
  padding-left: 10px;
  width: 100% !important;
}

.save_priscption button.pink{
    background: #d2304b none repeat scroll 0 0;
}


.save_priscption button {
    border: 0 none;
    color: hsl(0, 0%, 100%);
    display: block;
    font-size: 16px;
    line-height: 50px;
    margin: 0 auto;
    width: 215px;
}
.dateStamp{
  color: red;
  padding-right: 10px;
}
