section, header {
	direction: rtl !important;
}
.arabic_lang .signup_btns ul li.blue_btn a:last-of-type {
	border-right: 1px solid #000;
}
.signup_btns ul li.login {
	border-right: 1px solid #000;
}
.arabic_lang .flexslider .bottom_text_dv h3 i {
	padding-left: 20px;
}
.arabic_lang .useemac_listing li span {
	margin-left: 29px;
}
.testomonial_dv {
	direction: ltr;
}
.testoslideR_dv .img_right {
	direction: rtl;
}
.testoslideR_dv .text_left {
	direction: rtl;
}
.arabic_lang .testoslideR_dv .bx-pager.bx-default-pager {
	left: auto;
	top: 58%;
 right:23%; width:9%;
}


.arabic_lang  .testoslideR_dv .img_right{ float:right;}


.happypatient_dv {
	direction: ltr;
}
.patient_img_dv {
	direction: rtl;
}
.patient_para_dv {
	direction: rtl;
}
.navigation_dv .nav {
	padding-right: 0;
}

.upper_row .logo_main { float:right;}

.arabic_lang .Flinks_column ul li{ text-align:right;}
.arabic_lang .footer_links_row h2{ text-align:right;}
.what_emac_row .col-sm-3 {
	min-height: 189px;
}

.arabic_lang .testoslideR_dv .text_left { float:left;}

.arabic_lang .testoslideR_dv .text_left a{ margin-top:125px;}
.arabic_lang  .testoslideR_dv .img_right{ margin-right:0;}

.arabic_lang .testoslideR_dv .text_left{ width:77%;}