


@media (max-width:1365px) {

.arabic_lang .testoslideR_dv .text_left{ width:77%;}
.arabic_lang .testoslideR_dv .bx-pager.bx-default-pager {
   
    right: 26%;
    top: 59%; width:9%;
  
}

}



@media (max-width:1204px) {


.arabic_lang .testoslideR_dv .bx-pager.bx-default-pager {
   width:12%; right:21%;
  
}


}








@media (max-width:1024px) {
.what_emac_row .col-sm-3 {
	min-height: 184px;
}
.testoslideR_dv .text_left {
	width: 76%;
}
}

@media (max-width:767px) {
.signup_btns {
	width: 224px;
}
.navigation_dv .nav {
	padding-right: 0;
}
.emerG_right_box {
	min-height: 385px;
}
.arabic_lang .useemac_listing li span {
	margin-left: 0px;
}
.testoslideR_dv .text_left {
	width: 100%;
}
.what_emac_row .col-sm-3 {
	min-height: inherit;
}
.upper_row .logo_main { float:none;}



.arabic_lang .testoslideR_dv .img_right {
    clear: both;
    float: none;
    margin: 0 auto;
    width: 29%;
}


.arabic_lang .testoslideR_dv .text_left {
    float: none;
    text-align: center;
    width: 100%;
}









}
