@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0; box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box;
-o-box-sizing:border-box; -webkit-box-sizing:border-box;}
body {font-family: 'CircularStd-Book';}
img { border:none; outline:none;}
a.hd_1 { text-decoration:none;}
ul.hd_1  { margin:0; padding:0;}
ul.hd_1  li { display:block; float:left; list-style:none;}
h1, h2, h3, h4, h5, h6 { margin:0; line-height:normal; font-weight:normal;}

@font-face {
	font-family: 'CircularStd-Book';
	src: url('../fonts/circularstd-book.eot');
	src: url('../fonts/circularstd-book.eot') format('embedded-opentype'),
    	 url('../fonts/circularstd-book.woff') format('woff'),
    	 url('../fonts/circularstd-book.ttf') format('truetype'),
         url('../fonts/circularstd-book.svg#CircularStd-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'Gabriola-Regular';
	src: url('../fonts/Gabriola_gdi.eot');
	src: url('../fonts/Gabriola_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gabriola_gdi.woff') format('woff'),
		url('../fonts/Gabriola_gdi.ttf') format('truetype'),
		url('../fonts/Gabriola_gdi.svg#Gabriola-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-25CA;
}
.main { width:100%; }
header.hd_1{width:100%; float:left; background:#f4f4f4; text-align:center; padding:15px 0; position:fixed; z-index:999; }
header.hd_1 a{display:inline-block;}
.contant{width:100%; float:left; margin-top:120px;  }
.contant form{width:100%; float:left;  }
.contant form ul{width:100%; float:left; margin:30px 0; }
.contant form ul li{width:100%; float:left; margin-bottom:20px; padding-bottom:10px; border-bottom:1px solid #e3e3e3; }
.contant .lbl{width:40%; float:left; font-size:16px; color:#22363e; font-weight:normal; margin-bottom:0; } 

.contant form ul li span.spn1{width:60%; float:right; font-size:16px; color:#005fb3; text-align:right;  }

.content-part{width:100%; float:left;}
.content-part .left-part { position:relative; height:auto;  margin: 50px 0 0; padding: 130px 0;  border-left: 2px solid #e7e7e7;
}
.content-part .left-part .btn1{ float:none; display:inline-block;
position:absolute; left:0; right:0; top:0; bottom:0; background:#ffffff; margin:auto; 
background:url(../images/button.png) no-repeat center center; cursor:pointer; width:220px; height:72px; border:none; background-size:100%;
padding:5px 0px;  border-radius:5px; -moz-border-radius:5px;
-ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;  }
/*.content-part .left-part .btn1:hover{background-color:#F4F4F4;}*/
/*
.content-part .right-part .row input[type=text] { border-bottom:solid 1px #cccccc; border-top:none; border-left:none; border-right:none; max-width:220px; width:100%; height:45px; background:transparent;font-family:CircularStd-Book;}
.content-part .right-part .row .Firstname{ border-bottom:solid 1px #cccccc; float:left; border-top:none; border-left:none; border-right:none; width:100%; height:45px; background:transparent;}
.content-part .right-part .row input[type=submit]{ margin:10px 0; font-size:20px; border:none; border-radius:3px; background:#00baff; color:#ffffff; padding:10px 0; width:100%; max-width:220px;}
*/
.content-part .right-part .row  .hero-unit{ border-bottom:solid 1px #cccccc; float:left; width:100%;}
.content-part .right-part .row .hero-unit input[type=text]{ border-bottom:none; font-family:CircularStd-Book;}

.or-row span img{position:absolute; right:0; margin:auto; left:-20px; top:0; bottom:0;}
.or-row{  display: inline-block; height: 30px; position: relative; width: 4px;}
.content-part .right-part{position:relative; padding-right:50px; }
.content-part .right-part .lbl1{width:100%; margin-bottom:10px; margin-top:10px;}
.content-part .right-part .txtbx{width:100%; float:left; font-size:16px; color:#22363e; text-align:left; border:2px solid #C7C7C7;
padding:10px; position:relative; padding-right:190px; }
.content-part .right-part .txtbx1{padding:10px; width:100%; max-width:160px;}


.content-part .right-part .visa-part{position:absolute; top:52px; right:20px;  }
.content-part .right-part .visa-part img{margin-left:3px;}
.content-part .glyphicon{display:none;}
.content-part .btn-group.open .dropdown-toggle{box-shadow:none;}
.content-part .btn-default{border:2px solid #C7C7C7; border-radius:0; padding:9px 12px; box-shadow:none !important; color:#8c989c;
text-shadow:none !important; text-transform:capitalize;}
.content-part .btn-default:hover, 
.content-part .btn-default:focus, 
.content-part .btn-default.focus, 
.content-part .btn-default:active, 
.content-part .btn-default.active, 
.content-part .open > .dropdown-toggle.btn-default{background-color:#fff; border-color:transparent;border:2px solid #e3e3e3;}
.content-part .bootstrap-select.btn-group .dropdown-menu li{width:100%;}
.content-part .dropdown-menu{background-color:none;}
.content-part .caret{border-top:4px solid #00ADEE;  border-left: 4px solid transparent;
    border-right:4px solid transparent;}
.content-part .dropdown-menu{background-color:transparent;}	
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-image:none;}
.bootstrap-select.btn-group .dropdown-menu{background:#fff; border-radius:0;}
.content-part .btn-group{margin-right:10px;}


.thankx-up{ max-width:500px; margin:0 auto; text-align:center; padding:25px;}
.thankx-up h1{ font-family:Georgia; text-transform:uppercase; font-size:43px;  font-family:Gabriola-Regular; line-height:45px;}

.thankx-up h1 span{ text-transform:capitalize; font-family:Gabriola-Regular;}
.thankx-up p{ font-size:23px; }
.strip{ background:rgba(204,204,204,0.2); padding:10px; text-align:center; text-transform:uppercase; font-size:25px; line-height:1.5em;
border:1px solid #e3e3e3;} 
.thanx-signup-wrapper{ float:left; width:100%; padding:100px 0;}
   
   
.content-part .label_check { display: inline-block; cursor: pointer; width:auto; height:auto; line-height:21px; 
padding-left:25px; font-size:16px; color:#22363e;   margin:0; font-weight:normal; float:left; margin-top:10px;}
.content-part .label_check { background: url(../images/check-off.png) no-repeat; background-position:left top;}
.content-part .label_check.c_on { background: url(../images/check-on.png) no-repeat; background-position:left top; }
.content-part .label_check input { position: absolute; left: -9999px; }   
.content-part .labeltxt{margin-top:15px;} 

.inner1{width:100%; float:left; }
.btmdiv{width:100%; float:left; display:none;}
.btmdiv .area{width:100%; float:left; border:2px solid #e3e3e3; resize:none; padding:5px; font-size:15px; color:#e3e3e3c; margin-top:10px;}
.paybtn{width:365px;float:left; background:#00baff; color:#FFFFFF; font-size:17px; font-weight:bold; border-radius:5px; -moz-border-radius:5px;
-ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; padding:10px 10px; border:none; margin-top:30px;}
.paybtn:hover{background:#042C83;}
.maininner{width:100%; float:left; padding-bottom:50px; border-bottom:2px solid #dedede;}
.newimg{display:none;}
.llinner{width:100%; float:left;}
h1.title{width:100%; float:left; font-size:18px; color:#22363e; text-align:left; margin-top:10px;}
h1.title strong{margin-bottom:5px; width:100%; float:left; font-size:20px; }

.clr{display:none;}
.content-part .right-part{padding-left:0;}
.dropinner { float: left; margin-right: 10px; width: 170px; }
p.error_message { width: auto; float: left; color: red; }
.error { border: 2px solid red !important; }

/*13-oct*/
.content-part .bootstrap-select.btn-group .dropdown-menu li{margin-bottom: 0; padding-bottom: 0;}
.content-part .dropdown-menu > li > a{width: 100%; float: left; display: inline-block; text-align:left; }
.bootstrap-select span{text-align:left !important; }


.contant{margin-top: 90px;}
h1.title strong{    font-size: 18px;}
.contant form ul{margin: 20px 0;}
.contant form ul li{  margin-bottom: 15px;    padding-bottom: 5px;}
.contant form ul li:last-child{margin-bottom: 0;}
/*14-oct*/

.contant ul.newdropdiv{width: 100%;  float:left; margin: 0; }
.contant ul.newdropdiv li{width:33.33%;  float:left; margin-bottom: 0; padding-bottom: 0; border: none;  }
.contant ul.newdropdiv li .txtbx1{padding:7px 7px; margin-bottom: 10px; }
.contant ul.newdropdiv li .txtbx1.error{border: 2px solid red !important; padding:10px 7px;}

header{padding: 13px 0;}
header img{height:60px; }
.dropup .caret, .navbar-fixed-bottom .dropdown .caret { border-bottom:0 !important; }
/*14-oct*/
@media screen and (-webkit-min-device-pixel-ratio:0) { 

}
67770510
