a:focus, a:active, button, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
 outline: none !important;
}
a:focus {
	outline: none;
	outline-offset: -2px;
}
a:hover {
	text-decoration: none;
	opacity: 0.8;
}
body {
	font-family: 'Montserrat', sans-serif;
}
a:hover {
	text-decoration: none;
}
.img_responsive_max {
	max-width: 100%;
}
.img_responsive_100 {
	width: 100%;
}
.upper_row {
	margin-top: 21px;
	margin-bottom: 18px;
}
.upper_row:after {
	display: table;
	content: "";
	clear: both;
}
.upper_row .logo_main {
	float: left;
}
.upper_row .right_part {
	float: right;
}
.signup_btns {
	margin-top: 2px;
	text-align: right;
}
.signup_btns ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.signup_btns ul li {
	display: inline-block;
	margin-right: 0px;
}
.signup_btns ul li:last-of-type {
	margin-right: 0;
}
.signup_btns ul li a {
	background: #fff;
	color: #000;
	font-size: 14px;
	display: inline-block;
	padding: 0px 12px;
}
.english_lang .signup_btns ul li a {
	border-right: 1px solid #000;
}
.english_lang .signup_btns ul li.login a {
	border-right: 0;
}
.signup_btns ul li.login a {
}
.signup_btns ul li.blue_btn {
	margin-left: 20px;
}
.signup_btns ul li.blue_btn a {
	display: inline-block;
	padding: 0px 12px;
	color: #000;
	border: 0;
}
.english_lang .signup_btns ul li.blue_btn a {
	border-right: 1px solid #000;
}
.signup_btns ul li.blue_btn a.active {
	color: #7656c1;
}
.signup_btns ul li.blue_btn a:last-of-type {
}
.english_lang .signup_btns ul li.blue_btn a:last-of-type {
	border-right: 0;
}
/*navigation*/

.navigation_dv {
}
.navbar-default.emacs_nav {
}
.navbar-nav.emacs_nav_bar {
	margin-top: 31px;
}
.navbar-default.emacs_nav .navbar-collapse {
	padding-right: 0;
}
.navbar-default.emacs_nav {
	background-color: transparent;
	border-color: transparent;
}
.navbar-default.emacs_nav .navbar-nav > .active > a, .navbar-default.emacs_nav .navbar-nav > .active > a:hover, .navbar-default.emacs_nav .navbar-nav > .active > a:focus {
	background-color: #fff;
	color: #7656c1;
	font-size: 14px;
}
.navbar-default.emacs_nav .navbar-nav >li:hover > a, .navbar-default.emacs_nav .navbar-nav > .active:hover > a:hover, .navbar-default.emacs_nav .navbar-nav > .active > a:focus {
	background-color: #fff;
	color: #7656c1;
	font-size: 14px;
}
.navbar-default.emacs_nav .navbar-nav >li {
	padding: 0px 20px;
	position: relative;
}
.navbar-default.emacs_nav .navbar-nav >li:last-of-type a:after {
	display: none;
}
.navbar-nav > li > a {
	line-height: normal;
	background-color: #fff;
	color: #d2304b;
	font-size: 14px;
	padding: 0;
}
.navbar-nav > li > a:after {
	position: absolute;
	content: "~";
	font-size: 20px;
	top: -3px;
	right: -23px;
	color: #909090 !important;
}
.navbar-default.emacs_nav .navbar-nav > li > a {
	color: #000000;
}
.navbar-nav.emacs_nav_bar > li:last-of-type a {
/*padding-right: 0;*/
}
/*banner*/


.banner_section {
	position: relative;
	background: #000;
}
.banner_section .carousel-control {
	display: none;
}
.scroll_D_btn {
	width: 144px;
	margin: auto;
	left: 0;
	right: 0;
	position: absolute;
	bottom: -36px;
	z-index: 1;
	text-align: center;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	display: none;
}
.scroll_D_btn a {
	color: #fff;
}
.scroll_D_btn a img {
	transition: all ease 0.3s;
}
.scroll_D_btn a:hover img {
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
/*how it workks*/

.how_IT_w_dv {
	margin-top: 69px;
	text-align: center;
}
h1.howit_hd {
	text-align: center;
	font-weight: 400;
	margin: 0;
	padding: 0;
	position: relative;
	left: 45px;
	text-transform: uppercase;
}
.howit_MO_row {
	margin-top: 52px;
}
/*Joinpinkrow*/

.Join_pink_bg {
	background: #d2304b;
	min-height: 205px;
}
.Join_p_dv_row {
	text-align: center;
	margin-top: 30px;
}
.Join_p_dv_row h2 {
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.Join_p_dv_row p {
	color: #ffffff;
	font-size: 18px;
}
/*video play section*/

.video_play_section {
	background: #f7f7f7;
}
.left_vide_image {
	float: left;
	position: relative;
	width: 50%;
}
.right_text_dv {
	float: left;
	position: relative;
	width: 50%;
}
.feature_list_column {
}
.feature_dv {
	margin-left: 124px;
	margin-top: 210px;
}
.feature_list_row {
	position: relative;
	width: 67%;
	margin-bottom: 78px;
}
.feature_list_row .img_left {
	float: left;
	text-align: center;
	width: 80px;
}
.feature_list_row i {
	background: #1e9def;
	border-radius: 50%;
	color: #fff;
	float: left;
	font-size: 30px;
	height: 80px;
	line-height: 80px;
	width: 80px;
}
.feature_list_row i.grn {
	background: #84c636;
}
.feature_list_row i.grey {
	background: #f2a92d;
}
.feature_list_row .text_right {
	float: left;
	width: 76%;
	margin-left: 32px;
}
.feature_list_row .text_right h4 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	padding-top: 0;
	margin-top: 0;
}
/*testomonail section*/


.testomonial_dv {
	margin-top: 80px;
	padding-bottom: 27px;
}
.testo_heading {
	text-align: center;
	margin-bottom: 55px;
}
.testo_heading h1 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 39px;
	color: #000000;
}
.testoslideR_dv {
}
.testoslideR_dv .text_left {
	float: left;
	width: 64%;
}
.testoslideR_dv .text_left p {
	font-size: 18px;
	color: #757575;
	padding-top: 27px; text-align:justify;
}
.testoslideR_dv .text_left a {
	background: #29a2f0;
	width: 280px;
	padding:19px 15px;
	display: block;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	margin-top: 87px;
}
.testoslideR_dv .text_left h3 {
	color: #000000;
	font-size: 28px;
}
.testoslideR_dv .text_left span {
	color: #1e9def;
	font-size: 18px;
}
.testoslideR_dv .text_left h2 {
	color: #1e9def;
	font-size: 24px;
	font-style: italic;
}
.testoslideR_dv .text_left h2 span {
	font-size: 18px;
	font-weight: 400;
	color: #7d7d7d;
}
.testoslideR_dv .img_right {
	float: left;
	margin-right: 30px;
}
.testoslideR_dv .bx-wrapper .bx-viewport {
	box-shadow: none;
	border: 0;
}
.testoslideR_dv .bx-wrapper .bx-prev {
	background: url(../images/aroow_prev.png) no-repeat;
	width: 24px !important;
	height: 38px !important;
}
.testoslideR_dv .bx-wrapper .bx-next {
	background: url(../images/erow_next.png) no-repeat;
	width: 24px !important;
	height: 38px !important;
}
.testoslideR_dv .bx-pager.bx-default-pager {
	left: 34%;
	top: 47%;
	width: 6%;
}
/*availabe se section*/

.availble_sec_dv {
	background: #fff;
	margin-top: 69px;
}
.Flogo_column_left {
	position: relative;
	width: 50%;
}
.rightpink_dv {
	position: relative;
	background: #fff;
}
.rightpink_dv img {
}
.ftr_mater_container {
	text-align: center;
	margin-top: 99px;
	background: #f7f7f7;
	max-width: 470px;
	margin: 0 auto;
}
.ftr_mater_container .img_logo {
}
.ftr_mater_container .heading_dv {
}
.ftr_mater_container .heading_dv h3 {
	font-size: 28px;
	margin-top: 34px;
}
.ftr_mater_container .app_Store_btns {
	margin-top: 55px;
	clear: both;
}
/*footer section*/

.footer_bg {
	background: #1e9def;
	min-height: 480px;
}
.footer_links_dv {
}
.footer_links_row {
	color: #fff;
	padding-top: 112px;
}
.footer_links_row h2 {
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
}
.Flinks_column ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 28px;
}
.Flinks_column ul li {
	margin-bottom: 7px;
}
.Flinks_column ul li a {
	font-size: 14px;
	color: #fff;
	font-weight: normal;
}
.follow_us_dv {
	float: right;
	margin-top: 16px;
}
.follow_us_dv h3 {
	font-size: 21px;
	font-weight: 400;
	margin-bottom: 19px;
	text-transform: uppercase;
}
.follow_us_dv a {
	margin-right: 8px;
}
.follow_us_dv a:last-of-type {
	margin-right: 0;
}
.follow_us_dv a i {
	width: 30px;
	height: 30px;
	border: 2px solid #fff;
	border-radius: 50%;
	font-size: 14px;
	line-height: 26px;
	color: #fff;
	transition: all ease 0.5s;
}
.follow_us_dv a i:hover {
	transform: rotate(360deg);
}
.follow_us_dv a:hover i.fa-facebook {
	color: #fff;
	border: 2px solid #fff;
}
.follow_us_dv a:hover i.fa-twitter {
	color: #fff;
	border: 2px solid #fff;
}
.follow_us_dv a:hover i.fa-linkedin {
	color: #fff;
	border: 2px solid #fff;
}
.copyright_bg {
	background: #0083d7;
	min-height: 58px;
	margin-top: 60px;
	text-align: center;
	position: relative;
}
.copyright_bg .scrol_top {
	position: absolute;
	right: 138px;
	bottom: 30px;
}
.copyright_bg p {
	color: #fff;
	font-size: 14px;
	padding-top: 21px;
}
/*additional css//////////////*/
.banner_bg {
	background: url(../images/home_banner_main.jpg) no-repeat;
	min-height: 752px;
	background-size: cover;
	position: relative;
}
.banner_right {
	position: absolute;
	right: 0;
	width: 378px;
	top: 2px;
}
.right_box {
	height: 250px;
	text-align: center;
	color: #fff;
}
.right_box h4 {
	font-size: 20px;
}
.right_box_innner {
	width: 271px;
	margin: 0 auto;
	padding-top: 45px;
}
.right_box.blue_bg {
	background: rgba(30,157,239,0.8)
}
.right_box.grn_bg {
	background: rgba(92,209,68,0.8)
}
.right_box.y_bg {
	background: rgba(242,169,45,0.8)
}
.emac_logo_holder {
	max-width: 360px;
	margin: 0 auto;
	padding: 46px 0;
}
.how_to_brd {
	border-top: 2px solid #e5e9eb;
	clear: both;
	margin-top: 74px;
}
.app_Store_btns {
	max-width: 583px;
	margin: 0 auto;
	margin-top: 59px;
}
.app_Store_btns a {
	margin-right: 32px;
}
.app_Store_btns a:last-of-type {
	margin-right: 0;
}
/*============================bnner_right_section=========================*/

.emerG_right_box {
	border: 6px solid #fff;
	width: 41%;
	float: right;
	min-height: 437px;
	margin-top: 13%;
	position: relative;
	z-index: 2;
}
.emer_inner_box {
	max-width: 372px;
	width: 100%;
	margin: 0 auto;
}
.dctr_online_row {
	margin-top: 39px;
	border-bottom: 2px solid #FFF;
	padding-bottom: 44px;
}
.dctr_column_1 {
	float: left;
	border-right: 2px solid #FFF;
	padding-right: 85px;
}
.dctr_online_row h1 {
	margin: 0;
	padding: 0;
	width: 91px;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	line-height: 27px;
	text-align: left;
}
.dctr_online_row h1 span {
	font-size: 24px;
	font-weight: normal;
	display: block;
	margin-top: 22px;
}
.dctr_column_2 {
	float: left;
	padding-left: 85px;
}
.emergency_md_row {
	clear: both;
	text-align: center;
	margin-top: 28px;
}
.emergency_md_row h4 {
	color: #ffffff;
	font-size: 28px;
	margin-bottom: 52px;
}
.emergency_md_row a {
	background: #7656c1;
	padding: 13px 75px;
	color: #fff;
	font-size: 16px;
}
/*==================qwirks slider=========================*/



#panel-1 {
	background: url(../images/slider_img_4.jpg) no-repeat;
}
#panel-2 {
	background: url(../images/slider_img_1.jpg) no-repeat;
}
#panel-3 {
	background: url(../images/slider_img_2.jpg) no-repeat;
}
#panel-4 {
	background: url(../images/slider_img_3.jpg) no-repeat;
}

.flexslider ul { list-style:none; margin:0; padding:0;}
.flexslider ul li{ margin:0; padding:0;}
.flexslider .bottom_text_dv {
	background: #7656c1;

	width: 100%; text-align:center;
	filter: grayscale(0%) !important;
	-moz-filter: grayscale(0%) !important;
	-webkit-filter: grayscale(0%) !important;
	-o-filter: grayscale(0%) !important; min-height:140px;
}
.flexslider .bottom_text_dv.bg_2 {
	background: #f2a92d;
}
.flexslider .bottom_text_dv.bg_3 {
	background: #1e9def;
}
.flexslider .bottom_text_dv.bg_4 {
	background: #5cd144;
}
.flexslider .bottom_text_dv * {
	transition: all ease 0.5s;
}
.flexslider .bottom_text_dv h3 {
	color: #fff;
	font-size: 24px;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 54px;
	text-transform: uppercase; padding-left:10px; padding-right:10px;
}
.flexslider .bottom_text_dv h3 i {
	font-size: 45px;
	vertical-align: middle;
}
.english_lang .flexslider .bottom_text_dv h3 i {
	padding-right: 20px;
}
.flexslider .bottom_text_dv p {
	text-align: center;
	font-size: 14px;
	color: #fff;
	opacity: 0;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.flexslider .kwicks-expanded {
	filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-o-filter: grayscale(0%);
}
.flexslider.kwicks-collapsed .bottom_text_dv h3 {
	font-size: 18px;
}


/*======================what is emac==========================*/
.What_is_emac_sec {
	padding: 96px 0;
	padding-bottom: 24px;
}
.whatis_emac_dv {
}
.whatis_emac_dv h4 {
	font-size: 40px;
	font-weight: normal;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
	margin: 0;
}
.what_emac_row {
	padding-top: 101px;
}
.waht_emac_coluimn {
	text-align: center;
	margin-bottom: 79px;
}
.waht_emac_coluimn h5 {
	font-size: 17px;
	color: #000;
}
/*===============================when is emac================================*/
.use_emac_Sec {
	background: url(../images/when.jpg) no-repeat;
	background-size: cover;
}
.use_emac_blue_row {
}
.useemac_blue_column {
	margin-top: 48px;
}
.useemac_blue_column_bg {
	background: rgba(30,157,239,0.9);

}
.bluebg_inner_column {
	max-width: 331px;
	margin: 0 auto;
	padding-top: 39px;
}
.bluebg_inner_column h4 {
	color: #ffffff;
	font-size: 29px;
	text-transform: uppercase;
	margin: 0;
}
.useemac_listing {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 43px;
}
.useemac_listing li {
	margin-bottom:50px;
}
.useemac_listing li span {
	display: inline-block;
	vertical-align: top;
}
.english_lang .useemac_listing li span {
	margin-right: 29px;
}
.useemac_listing li h5 {
	color: #ffffff;
	font-size: 25px;
	display: inline-block;
	width: 237px;
	margin: 0;
}
.useemac_listing li a {
	background: #57cc54;
	color: #fff;
	font-size: 16px;
	display: block;
	padding:14px 18px;
	text-align: center;
	text-transform: uppercase;
}
/*=================================happy patient sec dv==========================*/



.happpatient_sec_dv {
	background: url(../images/happy_patient.jpg) no-repeat;
	min-height: 771px;
	background-size: cover;
	position: relative;
}

/* The animation code */
@keyframes bg_testo {
 0% {
background: rgba(0,26,45,0.4);
}
 25% {
background: rgba(0,26,45,0.9);
}
 50% {
background: rgba(0,26,45,0.9);
}
 100% {
background: rgba(0,26,45,0.4);
}
}
/* The element to apply the animation to */


.happpatient_sec_dv:after {
	background: rgba(0,26,45,0.7);
	min-height: 771px;
	width: 100%;
	position: absolute;
	content: "";
	top: 0;
	z-index: 1;
	animation-name: bg_testo;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
.happypatient_dv {
	position: relative;
	z-index: 2;
	text-align: center;
	padding-top: 78px;
}
.happypatient_dv h4 {
	color: #ffffff;
	font-size: 40px;
	font-weight: normal;
	text-transform: uppercase;
	padding-bottom: 61px;
}
.happypatient_dv .bx-wrapper {
	max-width: 786px !important;
	margin: 0 auto;
}
.happypatient_dv .bx-wrapper .bx-viewport {
	max-width: 571px;
	background: transparent;
	margin: 0 auto;
	min-height: 461px;
	border: none;
	box-shadow: none;
}
.happypatient_dv .bx-wrapper .bx-viewport .bxslider {
	background: #fff;
	margin-top: 72px;
	min-height: 424px;
}
.happypatient_dv .bx-wrapper .bx-viewport .bxslider:after {
	clear: both;
	display: table;
	content: "";
}
.patient_img_dv {
	width: 122px;
	height: 122px;
	text-align: center;
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: -58px;
}
.happypatient_dv .item_slide {
	text-align: center;
}
.patient_img_dv img {
	border-radius: 50%;
	border: 5px solid #fff;
}
.patient_para_dv {
	padding: 35px 92px 0;
	background: url(../images/testo_quote.png) no-repeat;
	margin-top: -63px;
	background-position: 10px 9px;
	min-height: 247px;
}
.patient_para_dv p {
	color: #000000;
}
.pateint_name_dv {
	border-top: 1px solid #e4e4e4;
	padding-top: 18px;
}
.pateint_name_dv h6 {
	font-size: 18px;
	color: #1e9def;
}
.happypatient_dv .bx-wrapper .bx-prev {
	background: url(../images/aroow_prevW.png) no-repeat;
	width: 30px !important;
	height: 30px !important;
}
.happypatient_dv .bx-wrapper .bx-next {
	background: url(../images/erow_nextW.png) no-repeat;
	width: 30px !important;
	height: 30px !important;
}
/*=========================pay par sesssion==================================*/
.payper_session {
	background: #f7f7f7;
	padding: 80px 0 90px;
}
.paypersession_dv {
}
.paypersession_dv h4 {
	color: #000000;
	font-size: 40px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 87px;
}
.pricing_table_column {
}
.prcing_table_inner_dv {
	text-align: center;
}
.pricing_table_column.blue_brd {
	border-right: 2px solid #1e9def;
}
.pricing_table_column.green_brd {
	border-right: 2px solid #5cd144;
}
.prcing_table_inner_dv h5 {
	color: #000000;
	font-size: 24px;
	font-weight: bold;
}
.prcing_table_inner_dv h6 {
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.prcing_table_inner_dv h2 {
	color: #000;
	font-size: 78px;
	margin-bottom: 30px;
	font-weight: normal;
}
.prcing_table_inner_dv a {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	background: #7656c1;
	display: block;
	padding: 15px;
	max-width: 199px;
	margin: 0 auto;
}
/*==========================accept insurance sections=============================*/

.accpt_i_section_bg {
	background: #5cd144;
	min-height: 280px;
}
.accep_grn_bg_dv {
	color: #fff;
	text-align: center;
	padding-top: 25px;
}
.accep_grn_bg_dv h3 {
	font-size: 30px;
	padding-bottom: 17px; text-transform:uppercase;
}
.accep_grn_bg_dv h4 {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 26px;
}
.accep_grn_bg_dv a {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	background: #42b22b;
	width: 280px;
	margin: 0 auto;
	padding: 20px 25px;
	margin-top: 11px;
	display: block;
}
/*==========================new footer sections=============================*/

.newftr_img_dv {
	text-align: center;
}
.ftr_appstore_btn {
	margin-top: 35px;
	text-align: center;
}
.ftr_appstore_btn a {
	display: inline-block;
}
.ftr_appstore_btn a:first-of-type {
	margin-right: 17px;
}
.ftr_links_dv {
}
.ftr_links_dv p {
	float: left;
}

.container2{ width:99.9%; margin:0 auto;}

.waht_emac_coluimn h5{max-width:184px; margin:10px auto; }

.useemac_listing li:last-of-type{ padding-bottom:42px;}











