
@media screen and (max-width:1370px){
	
}
@media screen and (max-width:1280px){
	.content-part .right-part .visa-part{ top: 54px;}
	.content-part .label_check{height:auto; background-position:left top;}
}
@media screen and (max-width:1024px){


}

@media screen and (max-width:991px){
.or-row { bottom: auto;   float: none !important;    height: auto;    left: 0;    margin: 0 auto;    position: absolute;
right: 0;  text-align: center;    top: -20px;    width: 100%;}
.content-part .left-part{margin-top:20px; border-top: 2px solid #e7e7e7; border-bottom:none !important;  border-left:none;}
.content-part .left-part{margin-top:40px; padding-bottom:20px;}
.or-row span img {  bottom: auto;    float: none;    left: auto;    margin: auto;    position: relative;    right: auto;    top: auto;}
.content-part .left-part {   border-bottom: 2px solid #e7e7e7; border-right:0;  border-left:0; margin-bottom:30px; }
.maininner{margin-bottom:10px;}
.content-part .left-part .btn1{background:url(../images/button-1024.png) no-repeat center center; max-width:680px; height:179px;
position:relative; left:auto; right:auto; bottom:auto; top:auto; margin-top:0 !important; width:100%;  }
.content-part .left-part{padding:60px 0 30px 0 !important; }
}
@media screen and (max-width:900px){
	.thankx-up{ max-width:500px; margin:0 auto; text-align:center; padding:25px;}
   .thankx-up h1{ font-family:Georgia; text-transform:uppercase; font-size:28px;  font-family:Gabriola-Regular; line-height:30px;}
   
   .thankx-up h1 span{ text-transform:capitalize; font-family:Gabriola-Regular;}
   .thankx-up p{ font-size:20px; }
   .strip{ background:#f7f7f7; padding:10px; text-align:center; font-size:18px; line-height:1.5em;} 
   .thanx-signup-wrapper{ float:left; width:100%; padding:130px 0;}

}
@media screen and (max-width:800px){

}
@media screen and (max-width:769px){



.content-part .right-part{padding-left:inherit;}
.content-part .right-part{padding-right:inherit;}
.thanx-signup-wrapper{padding:30px 0;}


.content-part .left-part .btn1 {  margin-top: 60px;}
.maininner{padding-bottom:0;}
h1.title strong{font-size:15px;}
h1.title{font-size:14px; text-align:justify;}

.clr{display:block;}
.paybtn{width:100%;}

.content-part .left-part {  border-left:none;}
.Firstname { clear: both;}
.content-part .right-part .visa-part { top:54px;}

.content-part .left-part .btn1{ height:150px; background-size:auto 100%; margin-bottom:20px;}
.contant ul.newdropdiv li{  width: 27%;}
}
@media screen and (max-width:640px){
	.dropinner { float: left; margin-right: 10px; width: 110px; }
.contant form ul li span.spn1{  font-size: 13px;   width: 50%;}
.contant .lbl{  font-size: 14px;  width: 50%;}
header a img{height:50px;}
.content-part .right-part .txtbx{padding:5px 132px 5px 5px;}
.content-part .right-part .visa-part img{width:15%; text-align:right;}
.content-part .right-part .visa-part{width:auto; display:inline-block; text-align:right; top: 48px;}
.content-part .btn-group { margin-right: 5px; width:110px;}
.content-part .right-part .txtbx1{max-width:110px; padding:5px;}
.or-row{display: inline-block; float: none !important; width: auto;}
.content-part .right-part .visa-part{top:42px;}

.content-part .left-part .btn1 { width:270px;}
/*
.or-row {  bottom:-50px;   float: none !important;    height: auto;    left: 0;
    margin: 0 auto;    position: absolute;    right: 0;    text-align: center;    top: auto;   width:100%;}
	*/
.or-row span img {  bottom: auto;    float: none;    left: auto;    margin: auto;    position: relative;    right: auto;    top: auto;}
	.content-part .left-part {   border-bottom: 2px solid #e7e7e7; border-right:0;  border-left:0; margin-bottom:30px;}
	.contant ul.newdropdiv li{  width:25%;}

 /*
.content-part .left-part .btn1{margin-top:10px;}
*/
.or-row span.image{display:inline-block; width:auto; background:#fff;}
.newimg{display:block;}
.contant form ul{margin: 30px 0 10px;}
header{  padding: 10px 0;}
.contant {margin-top: 70px;}
.content-part .label_check{font-size:14px; }
.content-part .label_check { background-size: 18px auto !important;  padding-left: 23px;} 
.paybtn{  font-size: 14px; padding: 9px;}
/*.newimg1{display:none;}*/

.content-part .right-part .visa-part { top: 45px;}
.content-part .left-part{text-align:center;}
.content-part .left-part .btn1{height:70px;}
.content-part .left-part { padding: 30px 0 !important;}
}
@media screen and (max-width:580px){
.contant .lbl{  font-size: 13px; }
	.contant ul.newdropdiv li{width: 33.33%;}
}
@media screen and (max-width:480px){
.content-part .label_check{text-align:justify;}

.content-part .btn-group{width:100px;}

	
}
@media screen and (max-width:369px){
.content-part .left-part .btn1{background:url(../images/button-360.png) no-repeat center center;  height:70px;
 margin-top:0 !important; width:100%;  background-size:auto 100%; }
 	.contant ul.newdropdiv li{width:48%;}
}

@media screen and (max-width:320px){
.content-part .left-part .btn1{height:50px;}
}


@media only screen and (max-width: 1000px) and (orientation: landscape) {
} 

@media only screen and (max-width: 1000px) and (orientation: landscape) {
}