
@media(max-width:1657px) {
.feature_list_row {
	width: 74%;
}
.feature_dv {
	margin-left: 34px;
}
.copyright_bg .scrol_top {
	right: 0;
}
.kwicks > li .bottom_text_dv h3 {
	font-size: 21px;
}

.testomonial_dv { margin:0 13%; margin-top:80px;}
.testoslideR_dv .img_right{ width:19%;}

.testoslideR_dv .bx-pager.bx-default-pager {
    left: 21%;
    top: 68%;
    width: 9%;
}
.testoslideR_dv .text_left h3 { margin-top:0;}
.testoslideR_dv .text_left p { padding-top:0;}
}



@media(max-width:1365px) {
.Join_p_dv_row p {
	font-size: 14px;
}
.feature_list_row {
	width: 100%;
}
.feature_dv {
	margin-top: 36px;
}
.testoslideR_dv .img_right {
	width: 19%;
}
.rightpink_dv img {
}
.rightpink_dv .img_responsive_max {
}
.rightpink_dv {
}
.availble_sec_dv {
}
.banner_bg:after {
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-name: bg_testo;
	background: hsla(205, 100%, 9%, 0.7) none repeat scroll 0 0;
	content: "";
	min-height: 692px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.banner_bg {
	min-height: 692px;
}
.dctr_column_1 {
	padding-right: 37px;
	padding-left: 37px;
}
.dctr_column_2 {
	padding-left: 37px;
	padding-right: 37px;
}
.testoslideR_dv .bx-pager.bx-default-pager {
	top: 70%;
}

.dctr_online_row {
     margin: 54px auto 0;
    max-width: 332px;

}
.flexslider {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    border: 4px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    position: relative;
}

.testoslideR_dv .bx-pager.bx-default-pager{ left:20.5%; width:10%;}
.testoslideR_dv .text_left { width:76%;}

.english_lang .flexslider .bottom_text_dv h3 i { font-size:26px; padding-right:9px;}
.flexslider .bottom_text_dv h3 { font-size:17px;}



}

@media(max-width:1194px) {
	
	.testoslideR_dv .bx-pager.bx-default-pager {
    left: 21%;
    width: 10%;
}
	
	}

@media(max-width:1031px) {
.ftr_mater_container .app_Store_btns a {
	margin-bottom: 5px;
}



	.flexslider {background: #fff; border: 4px solid #fff !important; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; zoom: 1;}
	
.testoslideR_dv .text_left { width:76%;}

.flexslider .slides img{ width:100%;}
.flex-control-nav { display:none;}
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
}

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
.banner_bg::after {
	min-height: 582px !important;
}
.banner_bg {
	min-height: 582px !important;
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
}

@media(max-width:1024px) {
.signup_btns ul li a {
	font-size: 12px;
}
.signup_btns ul li.blue_btn a {
	padding: 4px;
}
.signup_btns ul li {
	margin-right: 9px;
}
.signup_btns ul li a {
	font-size: 12px;
	padding: 6px 15px;
}
.signup_btns {
	margin-top: 2px;
}
.navbar-default.emacs_nav .navbar-nav > li > a {
	font-size: 15px;
	padding: 8px 15px;
}
.upper_row .logo_main {
	width: 15%;
}
.navbar-default.emacs_nav .navbar-nav > .active > a, .navbar-default.emacs_nav .navbar-nav > .active > a:hover, .navbar-default.emacs_nav .navbar-nav > .active > a:focus {
	font-size: 15px;
	padding: 8px 15px;
}
.navbar-nav.emacs_nav_bar {
	margin-top: 0;
}
.feature_dv {
	margin-top: 36px;
}
.feature_list_row {
	text-align: center;
	width: 100%;
	margin-bottom: 18px;
}
.feature_list_row .img_left {
	float: none;
	margin: 0 auto;
	text-align: center;
}
.feature_list_row .text_right {
	clear: both;
	float: none;
	margin-left: 0;
	margin-top: 15px;
	padding-top: 22px;
	width: 100%;
}
.ftr_mater_container .heading_dv h3 {
	font-size: 20px;
}
h1.howit_hd {
	left: 0;
}
.testo_heading h1 {
	font-size: 31px;
}
.testoslideR_dv .text_left {
	width: 75%;
}
.testoslideR_dv .text_left p {
	font-size: 14px;
}
.testoslideR_dv .text_left h2 span {
	font-size: 13px;
}
.upper_row .logo_main {
	margin-bottom: 13px;
}
.navigation_dv {
	margin-top: 67px;
}
.copyright_bg p {
	margin-bottom: 0;
}
.upper_row .right_part {
	float: none;
}
.navbar-default.emacs_nav .navbar-nav > li {
	padding: 0 14px;
}
.navbar-default.emacs_nav .navbar-nav > li:first-of-type {
	padding-left: 0;
}
.navigation_dv .navbar {
	margin-bottom: 0;
}
.upper_row {
	margin-bottom: 0;
}
.navigation_dv .navbar-collapse {
	padding-left: 0;
}
.emerG_right_box {
	width: 63%;
}
.banner_bg::after {
	min-height: 640px;
}
.banner_bg {
	min-height: 640px;
}
.kwicks > li .bottom_text_dv h3 {
	font-size: 12px;
}
.kwicks > li .bottom_text_dv h3 i {
	font-size: 21px;
	padding-right: 6px;
}
.kwicks > li .bottom_text_dv {
	min-height: 116px;
	top: 513px;
}
.kwicks > li.kwicks-collapsed .bottom_text_dv h3 {
	font-size: 12px;
}
.waht_emac_coluimn h5 {
	font-size: 14px;
}
.prcing_table_inner_dv h2 {
	font-size: 55px;
}
.prcing_table_inner_dv h5 {
	font-size: 17px;
}
}

@media(max-width:999px) {
	.testoslideR_dv .bx-pager.bx-default-pager { width:13%;}
	
	}

@media(max-width:767px) {
.upper_row .right_part {
	float: none;
	width: 100%;
}
.navbar-default .navbar-toggle {
	border-color: #097dc8;
}
.navbar-toggle {
	background: #1e9def;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #097dc8;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #fff;
}
.navbar-default .navbar-collapse {
	padding-left: 0;
}
.navbar-nav {
	margin: 0;
}
.Flinks_column ul li a {
	font-size: 15px;
}
.left_vide_image {
	width: 100%;
}
.right_text_dv {
	width: 100%;
}
.feature_dv {
	margin-left: 0;
}
.Flinks_column {
	margin-bottom: 45px;
}
/*==================upside css========*/
.upper_row .logo_main {
	margin: 0 auto;
	float: none;
	width: 157px;
	margin-bottom: 13px;
}
.signup_btns {
	float: left;
	margin: 0 auto;
	width: 182px;
	margin-top: -132px;
}
.signup_btns ul li.blue_btn {
	position: absolute;
	right: 7px;
	top: 8px;
}
.navbar-default .navbar-toggle {
	margin-right: 0;
	position: absolute;
	right: 0;
	top: -65px;
	z-index: 1;
}
.navbar.emacs_nav {
	margin-bottom: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-top-color: #fff;
}
h1.howit_hd {
	font-size: 25px;
}
.ftr_mater_container .img_logo {
	margin: 0 auto;
	width: 158px;
}
.copyright_bg {
	margin-top: 30px;
}
.availble_sec_dv {
	margin-top: 0;
}
.ftr_mater_container {
	margin-top: 0px;
}
.ftr_mater_container .app_Store_btns a {
	display: block;
}
.banner_section {
	margin-top: -53px;
}
.banner_section.mrg_none {
	margin-top: 0;
}
.hide_mobile {
	display: none;
}
.ftr_mater_container {
	max-width: 100%;
	margin-bottom: 45px;
}
.app_Store_btns {
	max-width: 168px;
	margin-top: 9px;
}
.app_Store_btns a {
	margin-right: 0;
	display: block;
	margin-bottom: 10px;
}
.how_to_brd {
	margin-top: 50px;
}
.kwicks > li {
	width: 100%;
}
.navbar-nav > li > a:after {
	position: absolute;
	content: "";
	font-size: 20px;
	top: 0px;
	right: 0px;
	color: #909090 !important;
}
.navbar-default.emacs_nav .navbar-nav > li {
	border-bottom: 1px solid #ccc;
}
.navbar-default.emacs_nav .navbar-nav > li a {
	padding-left: 0;
}
.emerG_right_box {
	width: 100%;
}
.dctr_column_1 {

	width: 50%;
}
.dctr_column_2 {

	padding-right: 10px;
	width: 50%;
}
.dctr_online_row h1 {
	width: auto;
}
.emergency_md_row h4 {
	font-size: 23px;
}
.banner_bg::after {
	min-height: 519px;
}
.banner_bg {
	min-height: 519px;
}
.What_is_emac_sec {
	padding: 38px 0 24px;
}
.whatis_emac_dv h4 {
	font-size: 33px;
}
.what_emac_row {
	padding-top: 34px;
}
.waht_emac_coluimn {
	margin-bottom: 50px;
}
.bluebg_inner_column {
	padding-left: 10px;
	padding-right: 10px;
}
.bluebg_inner_column h4 {
	font-size: 24px;
	text-align: center;
}
.useemac_listing li {
	text-align: center;
}
.useemac_listing li span {
	display: block;
	margin-right: 0;
	margin-bottom: 16px;
}
.useemac_listing li h5 {
	font-size: 22px;
	display: block;
	width: auto;
}
.useemac_listing li a {
	padding: 15px 24px;
}
.useemac_listing li:last-of-type {
	margin-bottom: 40px;
	padding-bottom: 33px;
}
.useemac_blue_column {
	margin-top: 81px;
}
.testomonial_dv {
	margin-top: 37px;
}
.testo_heading h1 {
	font-size: 25px;
	margin-bottom: 37px;
}
.testoslideR_dv .text_left {
	float: none;
	text-align: center;
	width: 100%;
}
.testoslideR_dv .bx-pager.bx-default-pager {
	top: auto;
	width: 100%;
	left: 0;
	bottom: 11%;
}
.testomonial_dv {
	padding-bottom: 0;
}
.happpatient_sec_dv::after {
	min-height: 618px;
}
.happpatient_sec_dv {
	min-height: 618px;
}
.happypatient_dv {
	padding-top: 22px;
}
.happypatient_dv h4 {
	font-size: 26px;
	padding-bottom: 12px;
}
.patient_para_dv {
	padding: 35px 10px 0;
}
.pateint_name_dv {
	padding-top: 12px;
}
.happypatient_dv .bx-wrapper .bx-prev {
	background: url(../images/controls.png) no-repeat 0 -32px;
	width: 32px !important;
	height: 32px !important;
}
.happypatient_dv .bx-wrapper .bx-next {
	background: url(../images/controls.png) no-repeat -43px -32px;
	width: 32px !important;
	height: 32px !important;
}
.paypersession_dv h4 {
	font-size: 26px;
	padding-bottom: 16px;
}
.payper_session {
	padding: 27px 0 48px;
}
.pricing_table_column.blue_brd {
	border-bottom: 2px solid hsl(204, 87%, 53%);
	margin-bottom: 42px;
	padding-bottom: 34px;
	border-right: none;
}
.pricing_table_column.green_brd {
	border-bottom: 2px solid hsl(110, 61%, 54%);
	margin-bottom: 42px;
	padding-bottom: 34px;
	border-right: none;
}
.accep_grn_bg_dv a {
	padding: 13px 25px;
}
.newftr_img_dv {
	margin-top: 48px;
}
.ftr_appstore_btn a {
	width: 127px;
}
.ftr_appstore_btn a:first-of-type {
	margin-right: 2px;
}
.copyright_bg .scrol_top {
	display: none;
}
.testoslideR_dv .text_left a {
	margin: 0 auto;
	margin-top: 32px;
	margin-bottom: 15px;
}
.testoslideR_dv .bx-pager.bx-default-pager {
	display: none;
}
.bx-wrapper .bx-viewport {
	left: 0;
}

.flexslider .bottom_text_dv h3{ padding-top:18px; margin-top:0;}
.flexslider .bottom_text_dv { min-height:76px;}
.flexslider .bottom_text_dv h3 i{ font-size:36px;}
.flexslider .bottom_text_dv h3 { font-size:15px;}
.emerG_right_box{ min-height:408px;}

.dctr_online_row h1{ font-size:31px; line-height:20px; }
.dctr_online_row h1 span { font-size:17px; margin-top:22px;}

.testoslideR_dv .img_right {
	clear: both;
	float: none;
	margin: 0 auto;
	width: 29%;
}
}

@media(max-width:660px) {
.testoslideR_dv .img_right {
	clear: both;
	float: none;
	margin: 0 auto;
	width: 29%;
}
.Flogo_column_left {
	width: 100%;
}
.rightpink_dv {
	margin-top: 25px;
	position: relative;
	width: 100%;
}
.social_ic_box .follow_us_dv h3 {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 19px;
}
.social_ic_box .follow_us_dv a i {
	border: 2px solid #fff;
	border-radius: 50%;
	color: #fff;
	font-size: 15px;
	height: 35px;
	line-height: 34px;
	width: 35px;
}
.copyright_bg .scrol_top {
	right: 10px;
}
.copyright_bg p {
	color: #fff;
	font-size: 13px;
	padding-top: 23px;
}
.testoslideR_dv .text_left h2 {
	font-size: 18px;
}
}

@media(max-width:568px) {
.rightpink_dv {
	min-height: 382px;
}
.rightpink_dv img {
	margin-top: 7%;
}
.signup_btns {
	margin-top: -55px;
}
.navbar-nav.emacs_nav_bar {
	margin-top: 0;
}
.navbar-nav.emacs_nav_bar {
	margin-top: 32px;
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
}

@media(max-width:481px) {
.testoslideR_dv .img_right {
	width: 49%;
}
.ftr_mater_container .app_Store_btns img {
	max-width: 100%;
}
.ftr_mater_container .app_Store_btns {
	margin-top: 23px;
}
.footer_links_row .col-xs-6 {
	width: 100%;
}
.footer_links_row {
	color: #fff;
	padding-top: 32px;
}
.Flinks_column {
	margin-bottom: 5px;
}
.social_ic_box {
	margin-top: 19px;
	min-height: 126px;
}
.social_ic_box .follow_us_dv {
	margin: 20px auto 0;
	text-align: center;
}
.copyright_bg .scrol_top .img_responsive_max {
	max-width: 70%;
}
.testo_heading {
	margin-bottom: 0;
}
.howit_MO_row {
	margin-top: 39px;
}
.how_IT_w_dv {
	margin-top: 70px;
	text-align: center;
}
}

@media(min-width:768px) {
.hide_big {
	display: none;
}
}


@media(max-height:768px){
	

	}