/*System Test*/
.admin_heding_name.after_log .systmtest {
	width: 385px;
}
.systmtest-main {
	width: 100%;
	text-align: center;
	float: left;
}
.bootstrap-select.btn-group .dropdown-menu li .glyphicon {
	display: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
	width: 100%;
	float: left;
	margin: 0;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-image: none !important;
}
.bootstrap-select.btn-group .dropdown-menu li > a.active, .bootstrap-select.btn-group .dropdown-menu li > a:focus {
	outline: 0;
}
.bootstrap-select > .btn.active, .bootstrap-select > .btn:focus {
	outline: 0;
}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
	background-color: transparent;
	border-color: #7f7f7f;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	background-color: transparent;
}
.btn-group.open .dropdown-toggle {
	box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
	padding: 0;
}
.dropdown-menu {
	background-color: #fff;
}
.dropdown-menu > li > a {
	text-transform: capitalize;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	background-color: #d2304b;
}
.systmtest-main ul {
	width: auto;
	display: inline-block;
	margin: 0 auto;
	float: none;
	margin: 0;
	padding: 0;
}
.systmtest-main ul li {
	width: 245px;
	padding: 0%;
	float: none;
	vertical-align: middle;
	list-style: none;
	display: inline-block;
	margin-right: 100px;
}
.systmtest-main ul li:last-child {
	margin-right: 0;
}
.systmtest-main ul li h4 {
	width: 100%;
	float: left;
	font-size: 14px;
	color: #081d24;
	text-align: center;
}
.systmtest-main ul li a.test {
	width: auto;
	float: none;
	margin: 0 auto;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	background: #d2304b;
	padding: 10px 20px;
	max-width: 125px;
	width: 100%;
}
.systmtest-main ul li .testdiv {
	width: 100%;
	height: 205px;
	display: table;
	vertical-align: middle;
	border: 2px solid #7f7f7f;
}
.systmtest-main ul li .middlimg {
	width: 100%;
	height: 205px;
	display: table-cell;
	vertical-align: middle;
}
.systmtest-main ul li .bootstrap-select.btn-group {
	width: 100%;
	margin-bottom: 30px;
}
.bootstrap-select.btn-group {
	width: 100%;
}
.bootstrap-select > .btn {
	border-radius: 0;
	border: 2px solid #7f7f7f;
	height: 45px;
	text-transform: capitalize;
	color: #7f7f7f;
	line-height: normal;
	margin: 0;
}
.bootstrap-select.btn-group .btn .caret {
	background: url(../images/select_ic.png) no-repeat right center;
	width: 14px;
	height: 10px;
	border: none;
}
/*.bootstrap-select.btn-group .btn .filter-option{line-height:33px;}*/
.systmtest-main ul li p {
	width: 100%;
	float: left;
	font-size: 14px;
	color: #081d24;
	margin: 10px 0;
	min-height: 50px;
}
.bootstrap-select .btn:focus {
.bootstrap-select .btn:focus
}
/*System Test*/

/*Bell popup*/
.head_right_sec_dv ul li .dropdown-menu.notification-menu {
	width: 520px;
	left: -240px;
	margin-top: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
}
.head_right_sec_dv ul li .notification-menu::before {
	bottom: 100%;
	right: 256px;
}
.head_right_sec_dv ul li .notification-menu::before, .head_right_sec_dv ul li .notification-menu::before {
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	height: 0;
	margin-right: -3px;
	pointer-events: none;
	position: absolute;
	width: 0;
}
.notification-menu .txtinfo {
	width: 100%;
	float: left;
	min-height: 430px;
}
.head_right_sec_dv ul li .notification-menu li {
	width: 100%;
	float: left;
	margin: 0;
	border: none;
	margin: 0;
	padding: 0;
}
.head_right_sec_dv ul li .notification-menu .txtinfo li {
	width: 100%;
	float: left;
	padding: 7px 20px;
	margin: 0;
	border: none;
	margin: 0;
}
.head_right_sec_dv ul li .notification-menu .txtinfo li p {
	width: auto;
	float: left;
	font-size: 16px;
	color: #4b77be;
	margin: 0;
}
.head_right_sec_dv ul li .notification-menu .txtinfo span {
	width: auto;
	float: right;
	font-size: 16px;
	color: #4b77be;
}
.head_right_sec_dv ul li .notification-menu .txtinfo li:nth-child(2n+2) {
	background: #ebeff2;
}
.head_right_sec_dv ul li .notification-menu a.noti {
	width: 100%;
	float: left;
	color: #d2304b;
	font-size: 16px;
	text-align: center;
	border-top: 1px solid #ccc;
	padding: 20px 0;
	display: inline-block;
}
.head_right_sec_dv ul li .notification-menu a.noti:hover {
	background-color: transparent;
}
/*Bell popup*/

/*Medial Inquiry*/
.medical span {
	float: right;
	color: #d2324c;
}
.prescribe_listing_db.medical ul li a {
	color: #081d24;
}
.prescribe_listing_db.medical ul li {
	padding-right: 25px;
}
.pre_listing li .bootstrap-select.btn-group {
	margin-bottom: 0;
}
.pre_listing li textarea {
	resize: none;
	min-height: 235px;
}
.pre_listing li .btn1 {
	width: 48%;
	float: left;
	font-size: 16px;
	background: #081d24;
	color: #ffffff;
	height: 48px;
	border: none;
	border: 2px solid #081d24;
}
.pre_listing li .btn1.save {
	float: right;
	background: #d2304b;
	border: 2px solid #d2304b;
}
.pre_listing li .btn1:hover {
	background: none;
	color: #081d24;
}
.pre_listing li .btn1.save:hover {
	background: none;
	color: #d2304b;
}
.medical-inquiryview {
	width: 100%;
	float: left;
}
.medical-inquiryview ul {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}
.medical-inquiryview ul li {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0 0 10px 0;
	list-style: none;
}
.medical-inquiryview ul li .toptxt {
	width: 100%;
	float: left;
}
.medical-inquiryview ul li .toptxt span {
	width: auto;
	float: left;
	font-size: 15px;
	color: #d2304b;
	margin-bottom: 10px;
}
.medical-inquiryview ul li .toptxt span.name {
	font-style: italic;
}
.medical-inquiryview ul li p {
	width: 100%;
	float: left;
	color: #081d24;
	font-size: 14px;
	text-align: left;
	word-wrap: break-word;
}
.medical-inquiryview ul li .desci {
	background: #ebeff2;
	padding: 10px 15px;
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.medical-inquiryview ul li .desci.half {
	width: 90%;
	float: right;
}
.medical-inquiryview ul li .new {
	width: 100%;
	float: left;
	background: #d2304b;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	border: 2px solid #d2304b;
	padding: 10px;
}
.medical-inquiryview ul li .new:hover {
	color: #d2304b;
	background: none;
}
.prescription-rr .prescribe_listing_db ul li a {
	font-size: 16px;
}
.prescription-rr span {
	font-size: 16px;
}
.docinformation {
	width: auto;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}
.imgdiv {
	height: 129px;
	width: 129px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	-webkit-border-radius: 100px;
	overflow: hidden;
	float: none;
	margin: 0 auto;
}
.imgdiv img {
	height: 100%;
	float: left;
	width: 100%;
}
.medicalrecord-rr label.lbl {
	border: 0 none;
	height: 46px;
	width: 100%;
	line-height: 46px;
	font-weight: normal;
	font-size: 18px;
	color: #081d24;
	text-align: center;
	display: inline-block;
}
.docinformation h3 {
	font-size: 18px;
	color: #4b77be;
	margin: 15px 0 0 0;
}
.docinformation h4 {
	font-size: 16px;
	color: #081d24;
}
.prescription-ll li.save_priscption button.blue {
	background: #4b77be;
}
.prescription-ll li.save_priscption button {
	display: inline;
	margin: 0 10px;
}
/*Medial Inquiry*/

.medicalrecord-rr ul li {
	position: relative;
}
.medialrecord.pre_listing li .txtbx {
	background: url(../images/claci.png) no-repeat right center;
	background-position: right 10px center;
}
.medicalrecord-rr a {
	width: auto;
	float: right;
}
.medicalrecord-rr a i {
	color: #d2304b;
	position: absolute;
	right: 20px;
	top: 20px;
}
.prescription-ll.add_medilist li label.lbl {
	background: #ebeff2;
	height: 45px;
	line-height: 45px;
}
.metismenu > li a {
	vertical-align: middle;
}
.metismenu > li > a img {
	vertical-align: middle;
	margin-right: 15px;
}
.metismenu > li > ul.submenu li img {
	vertical-align: middle;
	margin-right: 10px;
}
.admin_heding_name {
	width: 286px;
	text-align: center;
}
.admin_heding_name h3 {
	text-align: center;
	text-transform: uppercase;
}
.doctor_contact_dv ul li {
	position: relative;
}
.doctor_contact_dv ul li .txtbx {
	background: #ebebeb;
	border: none !important;
	padding-right: 60px;
}
.doctor_contact_dv ul li .btn1 {
	position: absolute;
	right: 0;
	top: 0;
	background: url(../images/upload.png) no-repeat center center #4b77be;
	border: none;
	height: 46px;
	width: 50px;
}
.bootstrap-select.btn-group {
	margin-bottom: 0;
}
.doctor_contact_dv ul li .brows {
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
}
.doctor_contact_dv ul li .brows input {
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	visibility: hidden;
}
.doctor_contact_dv ul li.half {
	width: 48%;
	display: inline-block;
}
.medicalhistory.prescribe_listing_db ul li .label_check {
	display: inline-block;
	cursor: pointer;
	width: auto;
	height: 21px;
	font-size: 14px;
	color: #fff;
	margin: 0;
	font-weight: normal;
	float: left;
	width: 21px;
	margin-top: 10px;
}
.medicalhistory.prescribe_listing_db ul li .label_check {
	background: url(../images/check-off.png) no-repeat;
	background-position: right center;
}
.medicalhistory.prescribe_listing_db ul li .label_check.c_on {
	background: url(../images/check-on.png) no-repeat;
	background-position: right center;
}
.medicalhistory.prescribe_listing_db ul li .label_check input {
	position: absolute;
	left: -9999px;
}
.medicalhistory.prescribe_listing_db ul li {
	background-color: transparent;
	padding: 0;
	width: 100%;
	float: left;
}
.medicalhistory label.lbl {
	background-color: #ebeff2;
	width: 92%;
	float: right;
}
